@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: #cccccc;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 8px;
}

.input-field input {
  margin: 0;
}

.btn {
  margin: 8px;
  background-color: #444;
}

.btn:hover {
  background-color: #444;
}

#serverList {
  width: 100%;
  color: #fffeff;
  border-collapse: collapse;
}
  #serverList th {
    color: #5e5c5e;
    text-align: left;
    cursor: auto;

    background-color: #211f21;
  }
  #serverList tr:nth-child(even) {
    background-color: #211f21;
  }
  #serverList tr {
    cursor: pointer;
  }
  #serverList th, #serverList td {
    padding: 6px;
  }
  #serverList #nameServer {
  }
  #serverList #ipServer, #serverList #portServer {
  }
