@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  color: #cccccc;
  font-family: 'Roboto', sans-serif;
}

body {
  opacity: 0;
}

nav {
  background-color: #1C1C1C;
}
  nav .brand-logo {
    padding: 0 15px;
  }
  nav .brand-logo .little {
    margin: 0 10px;
    font-size: .45em;
    font-style: italic;
  }

hr {
  margin: 5px 5px;
}

a {
  cursor: pointer;
}

.logo {
  top: 2px;
  position: relative;

  width: 150px;
  height: 30px;

  background: transparent url("../images/header.png");
  /* background-position-y: -30px; */

  vertical-align: middle;
  display: inline-block;
}

.container {
  width: 75%;
  margin-bottom: 90px;
}

.input-field input {
  margin: 0;
}

.btn {
  margin: 8px;
  background-color: #444;
}
  .btn:hover {
    background-color: #444;
  }

.fixed-action-btn {
  bottom: 65px;
}

.modal {
  position: absolute;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-flat {
  margin: 8px;
}
.modal-content {
  /*height: 275px;*/
  color: rgb(60, 60, 60);
}
.modalServerConnecting .modal-content {
  height: 200px;
  text-align: center;
}

#serverList {
  width: 100%;
  color: #fffeff;
}
  #serverList th {
    color: #5e5c5e;
    text-align: left;
    cursor: auto;
    background-color: #211f21;
  }
  #serverList tr:nth-child(even) {
    background-color: #1A1A1A;
  }
  #serverList tr:nth-child(odd) {
    background-color: #252525;
  }
  #serverList tr {
    cursor: pointer;
  }
  #serverList th, #serverList td {
    padding: 6px;
  }

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #252425;
  z-index: 1;
}
  footer div {
    margin: 12px;
  }
  footer a {
    cursor: pointer;
  }

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.new-grey {
  background-color: #444;
}

.icon {
  padding: 0 15px;
}

.icon-little {
  padding: 0 5px;
}

.steam {
  position: relative;
  top: 2px;
}
