<!DOCTYPE html>
<html ng-app="screepsClient">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>A Screeps client, unofficial for sure</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
      href="../node_modules/materialize-css/dist/css/materialize.min.css"
      media="screen,projection"/>
    <link rel="stylesheet" href="styles/index.css">

    <!-- OTHER LIBS -->
    <script src="../node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script> <!-- JQuery -->
    <script src="../node_modules/hammerjs/hammer.js" charset="utf-8"></script>  <!-- Hammer - Required by JQuery -->
    <script src="../node_modules/materialize-css/dist/js/materialize.min.js" charset="utf-8"></script>  <!-- Materialize -->
    <script src="libs/ScreepsAPI.js" charset="utf-8"></script>  <!-- ScreepsAPI modified by iKlem -->

    <!-- GSPA PLUGIN -->
    <script type="text/javascript" src="../node_modules/gsap/src/minified/TweenMax.min.js"></script>
    <script type="text/javascript" src="../node_modules/gsap/src/minified/TweenLite.min.js"></script>
    <script type="text/javascript" src="../node_modules/gsap/src/minified/TimelineMax.min.js"></script>
    <script type="text/javascript" src="../node_modules/gsap/src/minified/plugins/CSSPlugin.min.js"></script>
  </head>
  <body ng-controller="mainController">
    <nav>
      <div class="nav-wrapper">
        <a ng-click="home()" class="left brand-logo">
          A <div class="logo tooltipped" data-position="bottom" data-delay="10000" data-tooltip="Screeps!"></div> client
          <span class="little" ng-click="changeSub()">{{subtitle}}</span>
        </a>
        <h6 ng-show="steamRunning" class="right">(debug) Steam is running.</h6>
        <!-- <ul id="nav-mobile" class="right">
          <li><a ng-click="goToSettings()"><i class="material-icons left">settings</i>Settings</a></li>
        </ul> -->
        <span class="right" style="padding:0 10px;">Made by <a ng-click="openURL('https://github.com/iKlem')">iKlem</a></span>
      </div>
    </nav>
    <div ng-view class="container"></div>
  </body>

  <!-- ANGULAR CORE + LIBS -->
  <script src="../node_modules/angular/angular.js" charset="utf-8"></script>

  <!-- ANGULAR CONTROLLERS -->
  <script src="scripts/serverList.js" charset="utf-8"></script>
  <script src="scripts/addServer.js" charset="utf-8"></script>
  <script src="scripts/game.js" charset="utf-8"></script>

  <!-- MAIN -->
  <script src="scripts/main.js" charset="utf-8"></script>
</html>
