<nav>
  <button id="back" ng-click="back()">Back</button>
</nav>
<h2>Adding server</h2>
<form class="addServer">
  <label for="name">Name</label>
  <input type="text" name="name" value="" ng-model="server.name" />
  <label for="ip">IP address</label>
  <input type="text" name="ip" value="" ng-model="server.ip" />
  <label for="port">Port</label>
  <input type="number" name="port" value="" ng-model="server.port"/>
  <label for="hasOtherAuthSys">Has other authentification systems ?</label>
  <input type="checkbox" name="hasOtherAuthSys" value="" ng-model="server.hasOtherAuthSys">
  <button ng-click="add()">Add server</button>
</form>
