<div ng-controller="addServer">
  <div>

  </div>
  <h4 ng-hide="isEditing">Adding server</h4>
  <h4 ng-show="isEditing">Edit server "{{server.name}}"</h4>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" id="serverName" value="{{server.name}}" ng-model="server.name">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="ip" type="text" id="serverIP" value="{{server.ip}}" ng-model="server.ip" ng-change="checkAuthMod()">
        <label for="ip">IP Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="serverPort" type="number" value="21025" ng-model="server.port" ng-change="checkAuthMod()">
        <label for="port">Port</label>
      </div>
    </div>

    <div class="row" ng-show="showOtherForm">
      <div class="input-field col s12">
        <input id="email" type="email" id="email" value="{{server.user.email}}" ng-model="server.user.email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row" ng-show="showOtherForm">
      <div class="input-field col s12">
        <input name="password" type="password" id="serverIP" value="{{server.user.password}}" ng-model="server.user.password">
        <label for="password">Password</label>
      </div>
    </div>

    <div class="row">
      <a ng-hide="isEditing" class="waves-effect waves-light btn" ng-click="add()">Add</a>
      <a ng-show="isEditing" class="waves-effect waves-light btn" ng-click="edit()">Edit</a>
      <a id="back" class="waves-effect waves-light btn" ng-click="home()">Cancel</a>
    </div>
  </form>
  <br/>
  <form class="col s12" >

  </form>
</div>
