<!DOCTYPE html>
<html ng-app="screepsClient">
  <head>
    <meta charset="utf-8">
    <title>Unofficial Screeps client</title>
    <link rel="stylesheet" href="../styles/index.css">
  </head>
  <body ng-controller="serverList">
    <!-- HEADER BAR -->
    <header id="header" class="z-2">
      <h2>Unofficial Screeps client</h2>
      <nav>
        <button id="addServer">Add server</button>
      </nav>
    </header>

    <!-- CONTENT -->
    <div id="content">
      <h2>Server list</h2>
      <table id="serverList">
        <thead>
          <th id="nameServer">Name</th>
          <th id="ipServer">IP</th>
          <th id="portServer">Port</th>
        </thead>
      </table>
    </div>
  </body>
  <script src="../../node_modules/angular/angular.js" charset="utf-8"></script>
  <script src="../scripts/index.js" charset="utf-8"></script>
</html>
