<div ng-controller="serverList">
  <h3>Your server list</h3>
  <table id="serverList">
    <thead>
      <th id="nameServer">Name</th>
      <th id="ipServer">IP</th>
      <th id="portServer">Port</th>
    </thead>
    <tbody>
      <tr ng-repeat="server in serverList | orderBy" ng-click="openServerInfo($index)">
        <td>{{server.name}}</td>
        <td>{{server.ip}}</td>
        <td>{{server.port}}</td>
      </div>
    </tbody>
  </table>

  <div id="modalServerInfo" class="modal modalServerInfo">
    <div class="modal-content">
      <h4>{{server.name}}</h4>
      <p>IP address: {{server.ip}}</p>
      <p>Account email address: {{server.user.email}}</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect btn-flat">Cancel</a>
      <a ng-click="removeServer(serverID)" class=" modal-action modal-close waves-effect btn-flat red"><i class="material-icons md-light">delete</i></a>
      <a ng-click="addServer(true, serverID)" class=" modal-action modal-close waves-effect btn-flat"><i class="material-icons">edit</i></a>
      <a ng-click="connectToServer(serverID)" class=" modal-action modal-close waves-effect btn">Connect</a>
    </div>
  </div>

  <div class="modal modalServerRemove" id="modalRemoveServer">
    <div class="modal-content">
      <h3>Remove server ?</h3>
      <p>Do you really want to remove this server ?</p>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect btn green">No</a>
      <a ng-click="removeServer(serverID, true)" class=" modal-action modal-close waves-effect btn red">Yes</a>
    </div>
  </div>

  <div class="modal modalServerConnected" id="modalServerConnected">
    <div class="modal-content">
      <h3>Connected !</h3>
      <p>Server: {{server.ip}}:{{server.port}}</p>
      <hr>
      <p>Username: {{player.username}}</p>
      <p>CPU: {{player.cpu}}</p>
      <p>GCL: {{player.gcl}}</p>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a ng-click="addServer()" class="btn-floating btn-large red">
      <i class="material-icons">add</i>
    </a>
  </div>

</div>
